RewriteEngine On

php_flag display_errors On
php_value error_reporting 32767


# ----------- PHP REWRITES -------------
# Reescribe la URL para 'Index.php'
RewriteRule ^Inicio$ index.php [L]

# Reescribe la URL para 'Index.php'
RewriteRule ^Configuracion$ View/Settings.php [L]

# Reescribe la URL para 'PowerBI.php'
RewriteRule ^Informes$ View/PowerBI.php [L]

# Reescribe la URL para 'Users.php'
RewriteRule ^Usuarios$ View/Users.php [L]

# Reescribe la URL para 'Companies.php'
RewriteRule ^Empresas$ View/Companies.php [L]

# Reescribe la URL para 'Dashboard.php'
RewriteRule ^Tablero$ View/Dashboard.php [L]

# Reescribe la URL para 'LogIn.php'
RewriteRule ^Iniciar_Sesion$ View/LogIn.php [L]

# Reescribe la URL para 'SignUp.php'
RewriteRule ^Registrar$ View/SignUp.php [L]

# Reescribe la URL para 'Uzz.php'
RewriteRule ^XZ$ Controller/Uzz.php [L]

# Reescribe la URL para 'LogOutController.php'
RewriteRule ^Log$ Controller/LogOutController.php [L]

# Reescribe la URL para 'Comments.php'
RewriteRule ^PQRS$ View/Comments.php [L]

# Reescribe la URL para 'Tutorials.php'
RewriteRule ^Tutoriales$ View/Tutorials.php [L]

# Reescribe la URL para 'Plans.php'
RewriteRule ^Planes$ View/Plans.php [L]

# Reescribe la URL para 'ManagementReports.php'
RewriteRule ^Reportes$ View/ManagementReports.php [L]


# ----------- PHP REWRITES -------------



# ----------- CSS REWRITES -------------

# Reescribe la URL para 'Styles_Menus.css'
RewriteRule ^Estilos_Menu$ View/css/Styles_Menus.css [L]

# Reescribe la URL para 'Styles_Settings.css'
RewriteRule ^Estilos_Configuracion$ View/css/Styles_Settings.css [L]

# Reescribe la URL para 'Styles_Companies.css'
RewriteRule ^Estilos_Empresas$ View/css/Styles_Companies.css [L]

# Reescribe la URL para 'Styles_Dashboard.css'
RewriteRule ^Estilos_Tablero$ View/css/Styles_Dashboard.css [L]

# Reescribe la URL para 'Styles_Login.css'
RewriteRule ^Estilos_Inicio_Sesion$ View/css/Styles_Login.css [L]

# Reescribe la URL para 'Styles_PowerBI.css'
RewriteRule ^Estilos_PowerBI$ View/css/Styles_PowerBI.css [L]

# Reescribe la URL para 'Styles_SignUp.css'
RewriteRule ^Estilos_Registros$ View/css/Styles_SignUp.css [L]

# Reescribe la URL para 'Styles_Users.css'
RewriteRule ^Estilos_Usuarios$ View/css/Styles_Users.css [L]

# Reescribe la URL para 'Styles_Comments.css'
RewriteRule ^Estilos_PQRS$ View/css/Styles_Comments.css [L]

# Reescribe la URL para 'Styles_Tutorials.css'
RewriteRule ^Estilos_Tutoriales$ View/css/Styles_Tutorials.css [L]

# Reescribe la URL para 'Styles_Plans.css'
RewriteRule ^Estilos_Planes$ View/css/Styles_Plans.css [L]

# Reescribe la URL para 'Styles_ManagementReports.css'
RewriteRule ^Estilos_Reportes$ View/css/Styles_ManagementReports.css [L]

# ----------- CSS REWRITES -------------


# ----------- JS REWRITES --------------

# Reescribe la URL para 'Script_Menus.js'
RewriteRule ^Funcion_Menu$ View/js/Script_Menus.js [L]

# Reescribe la URL para 'Script_Settings.js'
RewriteRule ^Funcion_Configuracion$ View/js/Script_Settings.js [L]

# Reescribe la URL para 'Script_Companies.js'
RewriteRule ^Funcion_Empresa$ View/js/Script_Companies.js [L]

# Reescribe la URL para 'Script_Dashboard.js'
RewriteRule ^Funcion_Tablero$ View/js/Script_Dashboard.js [L]

# Reescribe la URL para 'Script_PowerBI.js'
RewriteRule ^Funcion_PowerBI$ View/js/Script_PowerBI.js [L]

# Reescribe la URL para 'Script_SignUp.js'
RewriteRule ^Funcion_Registro$ View/js/Script_SignUp.js [L]

# Reescribe la URL para 'Script_syncSettings.js'
RewriteRule ^Funcion_Sincronizacion$ View/js/Script_syncSettings.js [L]

# Reescribe la URL para 'Script_Users.js'
RewriteRule ^Funcion_Usuarios$ View/js/Script_Users.js [L]

# Reescribe la URL para 'Script_Comments.js'
RewriteRule ^Funcion_PQRS$ View/js/Script_Comments.js [L]

# Reescribe la URL para 'Script_Tutorials.js'
RewriteRule ^Funcion_Tutoriales$ View/js/Script_Tutorials.js [L]

# Reescribe la URL para 'Script_ManagementReports.js'
RewriteRule ^Funcion_Reportes$ View/js/Script_ManagementReports.js [L]

# ----------- JS REWRITES -------------


# ----------- IMG REWRITES -------------

# Reescribe 'PImageRecurso' a 'img'
RewriteRule ^PImageRecurso/(.*)$ View/img/$1 [L]

# Reescribe 'PImageTutoriales' a 'Tutorials'
RewriteRule ^PImageTutoriales/(.*)$ View/img/Tutorials/$1 [L]

# Reescribe 'Icono' a 'View/img/icono.ico'
RewriteRule ^Icono$ View/img/icono.ico [L]

# Reescribe 'PImageUser' a 'PicturesUsers'
RewriteRule ^PImageUser/(.*)$ PicturesUsers/$1 [L]

# Reescribe 'PImageCompany' a 'PicturesCompanies'
RewriteRule ^PImageCompany/(.*)$ PicturesCompanies/$1 [L]




# ----------- IMG REWRITES -------------


# ----------- VIDEO REWRITES -------------

# Reescribe 'PVideoBanner' a 'Videos/Banners'
# RewriteRule ^PVideoBanner/(.*)$ View/Videos/Banners/$1 [L]

# ----------- VIDEO REWRITES -------------